@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --primaryTextColor: #1e282e;
  --secondaryTextColor: #5c6164;

  --bordercolor: #f1f1f1;
  --linecolor: #d9d9d9;

  --primarybackgroundcolor: #fff;
  --secondarybackgroundcolor: #fbfbfb;
  --thirdbackgroundcolor: #f5f3fe;

  --primaryiconcolor: #007aec;
  --primaryiconcolorhover: #0012af;

  --warnabaru: #3e3f40;

  --sectionpadding: 6rem 0;

  --itemborderradius: 0.7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--primaryTextColor);
}

p {
  font-size: 1rem;
  line-height: 1.9rem;
}

p,
span,
label,
input,
textarea,
li {
  color: var(--secondaryTextColor);
}

a {
  text-decoration: none;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}

link {
  display: none;
}

.btn {
  padding: 1rem 1.5rem;
  background: white;
  border: 1.5px solid var(--bordercolor);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: 17px;
  font-weight: 550;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 6px;
}

.section-title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
}

.pre-title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--secondaryTextColor);
  position: relative;
  padding-left: 40px;
  width: fit-content;
  font-weight: 400;
  font-size: 0.9rem;
}

.pre-title::before {
  content: "";
  width: 30px;
  height: 1px;
  background: var(--linecolor);
  position: absolute;
  display: block;
  left: 0;
  top: 52%;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

.nav {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  justify-content: space-between;
  padding: 1.7rem 0;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 2.7rem;
}

.logo {
  display: flex;
  position: static;
  align-items: center;
  font-weight: 777;
  font-size: 2rem;
}

.logo a {
  color: var(--primaryTextColor);
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  color: var(--primaryTextColor);
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 7px;
  transition: all 0.3s;
  z-index: 99;
}

.burger {
  display: none;
  z-index: 99;
  position: fixed;
  top: 33px;
  right: 35px;
}

#hero {
  height: 725px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}

.hero-name span {
  color: #c0c0c0;
}

.hero-right img {
  width: 75%;
  border-radius: 100%;
  display: block;
}

.hero-right {
  display: flex;
  justify-content: center;
}

#services {
  background-color: var(--secondarybackgroundcolor);
  padding: var(--sectionpadding);
}

.services .pre-title {
  margin: 0 auto;
}

.services-title {
  text-align: center;
}

.service {
  padding: 3rem 2rem;
  text-align: center;
  background: var(--primarybackgroundcolor);
  border-radius: var(--itemborderradius);
}

.service h4 {
  margin: 1.5rem o;
  font-weight: 500;
  font-size: 1.5rem;
}

.service-icon {
  background: var(--thirdbackgroundcolor);
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}

.service-icon svg {
  fill: #3e3f40;
}

#skills {
  padding: var(--sectionpadding);
  background: var(--secondarybackgroundcolor);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

.education {
  display: flex;
  gap: 2rem;
}

.education .line {
  padding: 0.7rem;
}

.education .line div {
  width: 2px;
  height: 100%;
  background: var(--bordercolor);
  position: relative;
}

.education-info p {
  margin: 0.6rem 0 1.4rem;
}

.education-years {
  margin-bottom: 3rem;
}

.education .line div:before {
  content: "";
  width: 15px;
  height: 15px;
  background: var(--bordercolor);
  border-radius: 50%;
  position: absolute;
  left: -6.3px;
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}

.skills-right ul {
  line-height: 2rem;
  padding: 0 1rem;
}

#contact {
  padding: var(--sectionpadding);
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.contact-form div {
  margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem 1.3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--secondarybackgroundcolor);
  border: 1px solid var(--bordercolor);
  border-radius: 3px;
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #9d9fa1;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1px solid #7d7d7d;
}

.btn-submit {
  width: 100%;
  padding: 0.75rem 1.3rem;
  background-color: var(--primaryiconcolor);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn-submit:hover {
  background: var(--primaryiconcolorhover);
}

.contact-item- {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.contact-item-icon {
  background: var(--thirdbackgroundcolor);
  width: 53px;
  height: 53px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-item-icon svg {
  fill: var(--primaryiconcolor);
}

.contact-item-detail h4 {
  margin-bottom: 0.6rem;
}

/* footer section */
footer {
  padding: 2.5rem 0;
  color: var(--secondarybackgroundcolor);
  text-align: center;
}

.footer-icons {
  margin-bottom: 1rem;
}

.footer-icons a {
  margin: 0.5rem;
}

.footer-icons svg {
  fill: #3e3f40;
}

.footer-icons a:hover svg {
  fill: #000;
}
